.highlight {
    background: none;
    color: yellow;
    padding: 0;
    text-decoration: underline;
}

.form-control {
    background: #494646;
    color: white;
}

.form-control:focus {
    background: #494646;
    color: white;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
    padding: 10px;
    background: #333333;
    color: white;
}

.accordion-item {
    color: white;
    background: #414141;
}

.white {
    color: white !important;
}